<h1>Products</h1>

<% @products.each do |product| %>
  <p>
    <a href="/products/<%= product.id %>"><%= product.title %></a>
    - $<%= product.price %>
    - Stock: <%= product.stock_quantity %>
    - Category: <%= product.category.name %>
  </p>
<% end %>